#product-detail {
  margin-top: 72px;
}

.product-detail--container {
  padding: 2rem;
  border: 1.5px solid $color-main-normal;
  border-radius: 25px;
  background-color: $color-main-light;

  h3 {
    color: $color-main-dark;
  }

  h4 {
    color: $color-main-normal;
  }
}
