nav {
  background-color: $color-main-dark;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar > .context {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.header-nav-slide-out {
  transform: translateY(-100%);
}

.menu-bar {
  background: $color-main-dark;
  position: fixed;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  height: 72px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.menu-bar .context {
  transition: 0.5s;
}

.menu-bar ul {
  padding: 0;
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

.menu-bar li {
  flex-grow: 1;
  text-align: center;
  height: 100%;
  font-size: 0.875rem;
  line-height: 3.9375rem;
}

.menu-bar li.active a,
.menu-bar li:hover a {
  color: $color-minor-dark;
  font-weight: bold;
}

.menu-bar a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header-icons-container {
  position: relative;
  padding: 1rem;
}

.header-cart {
  position: absolute;
  right: -5px;
  top: 0;
  padding: 0.25rem;
  width: 25px;
  height: 25px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color-minor-dark;
  border-radius: 50%;
}
