.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  @media (max-width: 800px) {
    grid-template-columns: repeat((2, 1fr));
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    z-index: 1;
    cursor: pointer;

    & > p {
      margin-top: 25px;
      padding: 1rem;
      min-height: 80px;
      box-shadow: 0 4px 16px hsla(0, 0%, 49%, 0.08);
      border-radius: 10px;
      font-size: 0.8rem !important;
    }

    p {
      font-size: 1rem;
    }

    button {
      z-index: 100;
    }

    img {
      transition: 0.5s ease all;
      border-radius: 50px;
      width: 100%;
      object-fit: cover;

      @media (max-width: 1199.98px) {
        height: 250px;
      }

      @media (max-width: 575.98px) {
        height: 200px;
      }
    }
  }

  .box {
    height: 300px;
    background-color: $color-main-light;
    border-radius: 50px;

    @media (max-width: 1199.98px) {
      height: 250px;
    }

    @media (max-width: 575.98px) {
      height: 200px;
    }

    .lds-box {
      height: 0px;
      // background: linear-gradient(white, $color-main-light);
      animation: change 2s infinite;
      border-radius: 50px;

      @media (max-width: 1199.98px) {
        height: 250px;
      }

      @media (max-width: 575.98px) {
        height: 200px;
      }

      @keyframes change {
        from {
          background-color: white;
        }
        to {
          background: radial-gradient($color-main-light, $color-main-normal);
        }
      }
    }
  }

  .product:hover img {
    transform: scale(1.1);
  }

  .product:hover::after {
    opacity: 0.2;
  }
}
