.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    z-index: 1;
    cursor: pointer;

    & > p {
      margin-top: 25px;
      padding: 1rem;
      min-height: 80px;
      box-shadow: 0 4px 16px hsla(0, 0%, 49%, 0.08);
      border-radius: 10px;
    }

    button {
      z-index: 100;
    }

    img {
      transition: 0.5s ease all;
      border-radius: 50px;
      width: 100%;
      object-fit: cover;
    }
  }

  .product:hover img {
    transform: scale(1.1);
  }

  .product:hover::after {
    opacity: 0.2;
  }
}
