#clause {
  width: 80%;

  .wrapper {
    background-color: $background-grey;
    padding: 2.5rem;
    border-radius: 20px;
  }

  .article-content {
    background-color: white;
    border-radius: 20px;
    margin-right: 1rem;
    padding: 1rem;
  }

  .box {
    position: relative;
    display: block;
    &::before {
      content: "";
    }
  }

  .box .head {
    display: block;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: 12px;
    border-bottom: 1.5px solid #a9a9a9;
  }

  .read-box.box {
    margin: 16px 0 !important;
  }

  .read-box .head {
    display: block;
  }

  .read-box .head div:not(.notes) {
    margin-right: 12px;
  }

  .read-box .body {
    margin-top: 12px;
    height: 250px;
    overflow-y: scroll;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 1rem;
  }

  .read-box .body::-webkit-scrollbar {
    width: 6px;
  }

  .read-box .body::-webkit-scrollbar-track {
    background: $color-main-light;
  }

  .read-box .body::-webkit-scrollbar-thumb {
    background-color: $color-main-normal;
    border-radius: 20px;
    border: 3px solid $color-main-normal;
  }

  .notes {
    color: $color-main-dark;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 300;
  }
}
