#confirm-info {
  width: 80%;
  h3 {
    color: $color-main-dark;
  }

  h4 {
    color: $color-main-normal;
  }

  .content-section {
    margin-top: 20px;

    h3 {
      margin-top: 50px;
      margin-bottom: 60px;
      padding: 3rem;
      background-color: $color-main-normal;
      border-radius: 10px;
      color: white;
    }
  }

  .content-section .confirm-info--product {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }

  p {
    font-size: 1.25rem;
  }

  #customer-info {
    margin: 0 auto;
    background-color: #fbefe6;
    padding: 2.5rem;
    border-radius: 10px;

    .info-label {
      position: relative;
      padding-left: 1rem;
    }

    .info-label::before {
      position: absolute;
      left: 0px;
      display: block;
      width: 4px;
      background: $color-minor-dark;
      border-radius: 10px;
      content: "";
      height: 100%;
    }
  }

  #cart-info {
    svg:hover {
      color: $color-minor-dark;
    }
  }
}
