.process-container {
  margin-top: 72px;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $color-main-dark;
  }
}

.progress-bar .line {
  background: #a9a9a9;
  width: 150px;
  height: 1px;
}

.progress-bar {
  background: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
  overflow: visible;
  color: #797470;
  margin-bottom: 30px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.progress-bar .dot {
  background: #fff;
  border: 5px solid #b6aaa2;
  width: 16px !important;
  height: 16px !important;
  border-radius: 8px;
  position: relative;

  .checked {
    position: absolute;
    top: -24px;
    left: -24px;
    background-color: white;
  }
}

.progress-bar .active {
  color: #565250;
}

.progress-bar .progress-item:first-child .line:first-child {
  visibility: hidden;
}

.progress-bar .progress-item:last-child .line:last-child {
  visibility: hidden;
}
