.radio-group-container {
  padding: 1rem 2rem;
}

.field {
  &-radio {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;

    .form-check-input {
      position: relative;
      height: 24px;
      width: 24px;
      border: 2px solid $color-main-normal;
    }
    .form-check-input:after {
      background-color: #fff;
      border: 2px solid $color-main-normal;
      border-radius: 12px;
      content: "";
      height: 24px;
      margin: -2px 0 0 -2px;
      position: absolute;
      width: 24px;
    }
    .form-check-input:checked::after {
      background-color: $color-main-normal;
      box-shadow: inset 0 0 0 3px #fff;
    }
  }
}
