button {
  all: unset;
}

a {
  text-decoration: none !important;
}

p {
  color: #565250;

  @media (max-width: 575.98px) {
    font-size: 0.8rem;
  }
}

footer {
  margin-top: 90px;
}

.icons-sm {
  height: 24px !important;
  width: 24px !important;
}

.icons-md {
  height: 36px !important;
  width: 36px !important;
}

.icons-lg {
  height: 48px !important;
  width: 48px !important;
}

.icons-xl {
  height: 64px !important;
  width: 64px !important;
}

.color-main-normal {
  color: $color-main-normal;
}

.logo {
  width: 60px;
}

.fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.context {
  width: 95%;
  margin: 0 auto;
}

.icons-white {
  color: white;
}

.icons-grey {
  color: #565250;
}

.icons-main-dark {
  color: $color-main-dark;
}

.icons-minor-dark {
  color: $color-minor-dark;
}

.content-section {
  margin-top: 90px;
}

.content-section h3 {
  margin-bottom: 40px;
}

.button-main {
  padding: 0.8rem;
  min-width: 120px;
  color: white;
  background-color: $color-minor-dark;
  border-color: $color-minor-dark;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;

  &:hover {
    border-color: #efa028;
    background-color: #efa028;
  }

  @media (max-width: 575.98px) {
    font-size: 0.8rem;
    min-width: 80px;
  }
}

.button-minor {
  padding: 0.8rem;
  min-width: 120px;
  color: $color-minor-dark;
  background-color: white;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;

  &:hover {
    color: #efa028;
  }

  @media (max-width: 575.98px) {
    font-size: 0.8rem;
    min-width: 80px;
  }
}
