button {
  all: unset;
}

a {
  text-decoration: none !important;
}

.logo {
  width: 60px;
}

p {
  color: #565250;
}

.fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.context {
  width: 95%;
  margin: 0 auto;
}

.icons {
  color: white;
}

svg.icons {
  height: 24px !important;
  width: 24px !important;
}

.content-section {
  margin-top: 90px;
}

.content-section h3 {
  margin-bottom: 40px;
}

.button-main {
  padding: 0.8rem;
  min-width: 120px;
  color: white;
  background-color: $color-minor-dark;
  border-color: $color-minor-dark;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
}
