button {
  all: unset;
}

a {
  text-decoration: none !important;
}

.logo {
  width: 60px;
}

.fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.context {
  width: 95%;
  margin: 0 auto;
}

.icons {
  color: white;
}

svg.icons {
  height: 24px !important;
  width: 24px !important;
}

section.content-section {
  margin-top: 90px;
}

section.content-section h3 {
  margin-bottom: 40px;
}
