.index-showcase {
  position: relative;
  display: block;
  height: 650px;
  background-image: url("https://fakestoreapi.com/icons/intro.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.menu {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
}

.menu .context {
  border: 1.5px solid $color-main-normal;
  border-radius: 10px;
  background-color: $color-main-light;
  height: 57px;
  margin-top: 0px;
}

.menu ul {
  padding: 0;
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

.menu li a {
  flex-grow: 1;
  text-align: center;
  color: $color-main-dark;
  height: 100%;
  line-height: 3.4375rem;
}

.menu li.active,
.menu li:hover a {
  color: $color-minor-dark;
  font-weight: bold;
}
