@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

@import "./common/variable";
@import "./common/base";
@import "./components/Spinner/LoadingSpinner/loading-spinner";
@import "./components/Modal/modal";
@import "./components/Field/input-field";
@import "./components/CompoundComponent/RadioGroup/radio-group";
@import "./components/CompoundComponent/Form/form";
@import "./layouts/Header/header";
@import "./layouts/Footer/footer";
@import "./layouts/Features/Home/IndexShowcase/index-showcase";
@import "./layouts/Features/Home/Announcement/announcement";
@import "./layouts/Features/Home/Product/product";
@import "./layouts/Features/ProductDetail/product-detail";
@import "./layouts/Features/Pay/confirm-info";
@import "./layouts/Features/Pay/clause";
@import "./layouts/Features/Pay/process-container";
