@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

@import "./common/variable";
@import "./common/base";
@import "./components/Spinner/LoadingSpinner/loading-spinner";
@import "./layouts/Header/header";
